<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.25">
        <title>What is Bitcoin?</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-75890513-1', 'auto');
            ga('send', 'pageview');
                </script>
    </head>

    <body style="width: 960px; background-color: #000000; margin: 0 auto;">

        <center><h1 style="color: #ffffff;">What is the value of Bitcoin?</h1></center>
        <br>
        <p style="color: #ffffff" align="right"><b><i> Author: Xianxin Wang</i></b></p>
        <p style="color: #ffffff" align="right"><b><i>All rights reserved. Use by permission.</i></b><p>
        <div class=text style="color: #00ff00; font-size: 18px;">
            <br>
            <p>Apparently, I don't know the answer. But I do believe blockchain, the idea behind Bitcoin, will play an important role in the next stage of human civilization. Bitcoin could be a beacon. It comes to this world and tells people that the end of capitalism is close and a new social structure will take place.</p>
            <p>I think capitalism is OK for current human technology level. Free market is very efficient at distributing resources, but it also leads to the concentration of wealth. And it is not efficient enough, millions of people starve to death each year. This is a tremendous waste of human resources from the perspective of human being as a species.</p>
            <p>People say Bitcoin can never be a real currency because its value fluctuates too much. I agree. Maybe Bitcoin will be the "currency" for a future society where there is no such thing as money. In capitalism, the only important thing is money. It is true for a single human. It is also true for any government. I will say that money is capitalism, US has $ and China has ￥; I will say inflation is capitalism. We all live in a world with interest rates.</p>
            <p>The next stage of human civilization needs a solid technological foundation. Nuclear fusion reactor, continued evolution of software like blockchain network and maybe a breakthrough is quantum physics.</p>
            <p>Bitcoin is already here. Let's see if fusion reactor will be completed before 2050.
            <p>So, what is the value of Bitcoin? I don't know, but I don't think it's a price tag. How do you price Bitcoin if it is for a world with no price?</p>
            <p style="color: #000000;">Historical materialism: Socialism is the stage after mature capitalism.</p>
            
        </div>
        <br>
    </body>
</html>

