{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=0.25">
    <title>Hi! I'm Steven.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index_page/style.css' %}" />
    <link rel="icon" href="{% static 'index_page/images/icon.png' %}" />
    <meta property='og:image' content="{% static 'content_list/images/icon.png' %}"/>
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-75890513-1', 'auto'); ga('send', 'pageview'); </script>
</head>

<style>
body {
    max-width: 1080px;
    background-color: #000000;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: url({% static "index_page/images/header_coral.png"%});
    background-size: cover;
}

.header {
    height: 300px;
    color: #ffffff;
}

.header h1 {
    font-size: 60px;
}

.header img {
    height: 40px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
}


.box {
    color: #222222;
    font-weight: bold;
    font-style: oblique;
    background-color: coral;
}

span.box {
    border-radius: 20px;
    font-style: normal;
}

.links h3 {
    color: #00ff00
}

</style>

<body>
    <div class="header">
        <div class="col-xs-8">
            <h1>Welcome!</h1>
            <div class="link">
            <a href="https://github.com/wxianxin"><img src="{% static "index_page/images/git_color.png"%}" alt="github logo" style="margin-top: 8px;"</a>
            <a href="https://www.linkedin.com/in/xianxin"><img src="{% static "index_page/images/linkedin_black_color.png"%}" alt="linkedin logo"></a>
            </div>
        </div>

        <div class="col-xs-4">
            <a href="/admin/"><h3 align="right"><span class="box">Admin</span></h3></a>
        </div>
    </div>
    
    <div class="row_2">
        <div class="col-xs-9">

        <h2 class="box">Some thoughts</h2>
        <ul style="margin: 0; padding: 0px;">
        {% if article_link_list %}
            {% for link in article_link_list %}
            <li><a href={{ link.link_text }}><h3>{{ link.title_text }}</h3></a></li>
            {% endfor %}
        {% else %}
            <p>No article is available.</p>
        {% endif %}

        {% if article_pdf_list %}
            {% for pdf in article_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        {% else %}
            <p>No article pdf is available.</p>
        {% endif %}

        <li><a href="static/static/RITC_algo"><h3>Demo of RITC Algo Trading case</h3></a></li>
            <li><a href="static/static/bitcoin"><h3>My experience with Bitcoin</h3></a></li>
        </ul>

        <a href="stocks"><h2 style="text-decoration: underline; font-style: oblique; font-weight: bold;">Some stock picks</h2></a>


        <h2 class="box">Some readings</h2>
        <ul style="margin: 0; padding: 0px;">
        <p>Some lines that I consider particularly valuable are highlighted.</p>
        {% if reading_pdf_list %}
            {% for pdf in reading_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        {% else %}
            <p>No reading is available.</p>
        {% endif %}
            <li><a href="http://www.weidai.com/qm-interpretation.txt"}><h3>Wei Dai: A really simple interpretation of quantum mechanics</h3></a></li>
        </ul>


        </div>
    
        <div class="col-xs-3">
        <div class="links">

        <h2 class="box">Some notes</h2>
        <ul style="padding: 0;">
        {% if notes_list %}
            {% for link in notes_list %}
            <li><a href={{ link.link_text }}><h3>{{ link.title_text }}</h3></a></li>
            {% endfor %}
        {% else %}
            <p>No notes is available.</p>
        {% endif %}

        {% if notes_pdf_list %}
            {% for pdf in notes_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        {% else %}
            <p>No notes pdf is available.</p>
        {% endif %}
        </ul>

        <h2 class="box">Toolbox</h2>
        <ul style="padding: 0;">
        {% if toolbox_pdf_list %}
            {% for pdf in toolbox_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        {% else %}
            <p>No toolbox is available.</p>
        {% endif %}
            <li><a href="http://mathesaurus.sourceforge.net/octave-r.html"><h3>"R for MATLAB users"</h3></a></li>
        </ul>

        </div>
        </div>
    </div>
    <br>

</body>
</html>

