{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=0.25">
    <title>Hi! I'm Steven.</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index_page/style.css' %}" />
    <link rel="icon" href="{% static 'index_page/images/icon.png' %}" />
    <meta property='og:image' content="{% static 'content_list/images/icon.png' %}"/>
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-75890513-1', 'auto'); ga('send', 'pageview'); </script>
</head>
<body style="max-width: 1080px; background-color: #000000; margin: 0 auto;">
    
    <div class="header" style="background-image: url({% static "index_page/images/header.png"%}); background-size: cover;">
        <div class="col-xs-8" style="height: 300px;">
            <h1>Welcome!</h1>
            <h3>(Django backend deployed; Under construction.)</h3>

            <h3 style="margin-top: 10px;">My Github and Linkedin:</h3>
            <div class="link", style="height: 100px;">
            <a href="https://github.com/wxianxin"><img src="{% static "index_page/images/github_logo.png"%}" alt="github logo" style="height: 100px; margin-left: 20px;"></a>
            <a href="https://www.linkedin.com/in/xianxin"><img src="{% static "index_page/images/linkedin_logo.png"%}" alt="linkedin logo" style="height: 100px; margin-right: 20px;"></a>
            </div>
        </div>

        <div class="col-xs-4">

            <h4>I have to set deadlines for myself, otherwise I will never get the non-life-threatening things done. </h4>
            <h4>20171115 - write c++ matrix operation library, c++ brent optimization library; assess coding time for multivariable optimization(Nelder-Mead) library in c++</h4>
            <h4>20171120 - set deadline for option market volatitlity parameters app</h4>
        </div>
    </div>
    
    <div class="row_2">
        <div class="col-xs-9">

        <h2 style="color: #ffffff; font-style: italic;">Some thoughts:</h2>
        {% if article_link_list %}
        <ul style="margin: 0; padding: 0px;">
            {% for link in article_link_list %}
            <li><a href={{ link.link_text }}><h3>{{ link.title_text }}</h3></a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No article is available.</p>
        {% endif %}

        {% if article_pdf_list %}
        <ul style="margin: 0; padding: 0px;">
            {% for pdf in article_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No article is available.</p>
        {% endif %}


        <h2 style="color: #ffffff; font-style: italic;">Some readings:</h2>
        {% if reading_pdf_list %}
        <ul style="margin: 0; padding: 0px;">
            {% for pdf in reading_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No reading is available.</p>
        {% endif %}

        <a href="stocks"><h2 style="color: #ffffff; font-style: italic; text-decoration: underline;">Some stock picks</h2></a>

        </div>
    
        <div class="col-xs-3">
        <div class="links">

        <h2 style="color: #ffffff; font-style: italic;">Some notes:</h2>
        {% if notes_list %}
        <ul style="padding: 0; list-style-type: none;">
            {% for link in notes_list %}
            <li><a href={{ link.link_text }}><h3>{{ link.title_text }}</h3></a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No notes is available.</p>
        {% endif %}

        {% if notes_pdf_list %}
        <ul style="padding: 0; list-style-type: none;">
            {% for pdf in notes_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No notes is available.</p>
        {% endif %}

        <h2 style="color: #ffffff; font-style: italic;">Toolbox</h2>
        {% if toolbox_pdf_list %}
        <ul style="padding: 0; list-style-type: none;">
            {% for pdf in toolbox_pdf_list %}
            <li><a href={{ pdf.link_text }}><h3>{{ pdf.title_text }}</h3></a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No toolbox is available.</p>
        {% endif %}

        </div>
        </div>
    </div>
    <br>

</body>
</html>

