body {
	margin-top: auto;
	margin-bottom: auto;
    margin: 0 auto;
	/*  width:960px;    
	*/
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
	color: #00BB00;
}

p {
	font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
