body {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	height: 300px;
	color: #ffffff;
}

.header h1 {
	font-size: 60px;
}

.header h3 {
	font-size: 24px;
}


.row_2 li {
        display: inline;
}


.links h3 {
	color: #00ff00
}
