<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SMIC</title>
    <link rel="stylesheet" type="text/css" href="amd.css">
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-75890513-1', 'auto'); ga('send', 'pageview'); </script>
</head>

<body style="width: 960px; background-color: #000000; margin: 0 auto;">

    <center><img src="/stocks/pic/smic.png" alt=logo.png width=200px"></center>
    <center><a href="https://www.google.com/finance?q=NYSE:SMI">Semiconductor Manufacturing International Corporation</a></center>
    <h1 align="middle" style="color: #ffffff">SMIC SMIC is a nation's will</h1>
    <p align="right" style="color: #ffffff">20161031</p>
    <div class="text" style="color: #00ff00; font-size: 18px">
        <p>SMIC is a semi-conductor company based in Shanghai, China. It is one of the most prospective silicon factory in China and its shareholders include FGW, an SOI of Chinese government. It represents the best industrial technology effort in China.</p>
        <p>Logic and memory chips are the most imported products for China, even more than crude oil. Over one Trillion CNY(￥) chips are imported every year and the number is still increasing rapidly.</p>
        <p>It important to point out one vulnerability of information security: In every CPU Intel makes, there is a hardware "backdoor" called "Intel ME"(a built-in UNIX OS), and AMD's counterpart is call "PSP". If you use a CPU produced by Intel or AMD, you can do nothing but accept the fact that you are completely exposed to this vulnerability. As ordinary consumers, we could only expect no one would bother to use it against us. However, as for national security, this is a vulnerability far from tolerable. It is also worth mentioning that, apart from Intel and AMD's old partner GlobalFoundries, Samsung and TSMC are two major silicon factories and chip manufacturers. I believe you can see the gravity here.
        So, semi-conductor industry in China, represented by SMIC, is more than just a public company, it's more like a nation‘s will.</p>

    <p style="color: #ffffff" align="right"><b><i> Author: Xianxin Wang</i></b></p>
    <p style="color: #ffffff" align="right"><b><i>All rights reserved. Use by permission.</i></b><p>

   </div>
	    

</body>

</html>

