<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>APPLE</title>
    <link rel="stylesheet" type="text/css" href="amd.css">
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-75890513-1', 'auto'); ga('send', 'pageview'); </script>
</head>

<body style="width: 960px; background-color: #000000; margin: 0 auto;">

    <center><img src="/stock/pic/apple.jpg" alt=logo.png width=200px"></center>
    <center><a href="https://www.google.com/finance?q=aapl">Apple Inc.</a></center>
    <h1 align="middle" style="color: #ffffff">Apple is now becoming ancient.</h1>
    <p align="right" style="color: #ffffff">20160907</p>
    <div class="text" style="color: #00ff00; font-size: 18px">
        <p>The new generation of iphone came out today with little surprise. This is partially because of all of the leaked information before its announcement, but we also have to admit that Apple is no longer the star as we know it. Cook and his team are taking a very conservative attitude. And I literally have little to say about Apple.
        <p>I don't see the reason why Apple's stock hits $108 today. And we will wait and see about release of new Mac later this year.</p>
	<p>I could almost guarantee you that the sales of this generation of Iphone will not be good.</p>


    <p style="color: #ffffff" align="right"><b><i> Author: Xianxin Wang</i></b></p>
    <p style="color: #ffffff" align="right"><b><i>All rights reserved. Use by permission.</i></b><p>

   </div>
	    

</body>

</html>

