<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.25">
<title>My first automated trading algorithm.</title>
<link rel="stylesheet" type="text/css" href="index.css">
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-75890513-1', 'auto');
	ga('send', 'pageview');
	</script>
</head>

<body style="width: 960px; background-color: #000000; margin: 0 auto;">

<center><h1 style="color: #ffffff;">My first automated trading algorithm.</h1></center>
<br>
<br>
<div class=text style="color: #00ff00; font-size: 18px;">
<a href="https://github.com/wxianxin/Bitcoin_arbitrage">Code Repository</a>
<br>
<hr>
<p align="right">20161001</p>
<p>The arbitrage is gone. This time it looks like a professional or the exchange itself. The arbitrage existed between Bitcoin, Litecoin and Cash.</p>
<br>
<hr>
<p align="right">20160823</p>
<p>For the past 24 hours, there is a price surge in the Litecoin market. The algorithm is doing well. Very luckily, when the algorithm was excecuting orders I was right in front of the monitor and I found something very interesting. I am now modifying my code to take this edge.</p>
<br>
<hr>
<p align="right">20160726</p>
<p>After 4 weeks of work the program is now online! It exploits an arbitrage opportunity that I found earlier. Although it only makes very limited profit, the risk of its profit is close to zero, or you can say it has a sharp ratio close to infinity. The best part is that it is running 24/7 with minimal maintenance required.(This is partially because its configuration is still very conservative.)</p>
<p>As far as I can tell(by looking at the history orders), there are at least 4 other guys trying to do the same thing. Mine has been the quickest to respond by now.</p>
<p>I wrote everything from scratch and I learned a lot during this process, which is far more important than profit.</p>
</div>
<br>
</body>
</html>
